@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto", Helvetica "Neue", sans-serif;
  }
}

.mainContent {
  height: calc(100vh - 88px);
}

.mainContentScrolled {
  height: calc(100vh - 88px);
  border-top: 1px solid rgb(221, 221, 221);
  transition: border 0.1s ease-in 0s;
}

.mainContentFooter {
  height: calc(100vh - calc(170px));
}

.mainContentFooterScrolled {
  height: calc(100vh - 170px);
  border-top: 1px solid rgb(221, 221, 221);
  transition: border 0.1s ease-in 0s;
}

.hover-animation {
  transition: border 0.1s ease-in 0s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal-background {
  animation: modal-background-fadeIn 0.4s both;
  background: #222222;
}

.modal-shadow {
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
}

.modal-fadeOut {
  animation: modal-background-fadeOut 0.4s both;
  background: #222222;
}

.popup-animation {
  animation: dropUp 0.4s both;
}

.blowIn-animation {
  animation: blowIn 0.4s both;
}

.blowOut-animation {
  animation: blowOut 0.4s both;
}

.slideDown-animation {
  animation: dropDown 0.4s both;
}

.fade-in {
  animation: fadeIn 0.6s ease;
}

.fade-out {
  animation: fadeOut 0.6s ease;
}

.black-shadow-hover:hover {
  box-shadow: 0 0 0 2px black;
  transition: box-shadow 0.2s, transform 0.1s;
}

.black-shadow {
  box-shadow: 0 0 0 2px black;
  transition: box-shadow 0.2s, transform 0.1s;
}

.black-shadow-border {
  box-shadow: 0 0 0 2px black;
}

.black-border-hover:hover {
  border: 1px solid black;
  transition: border 0.2s, transform 0.1s;
}

.btn-hover-bg {
  position: relative;
}

.btn-hover-bg::before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.btn-hover-bg:hover::before {
  content: "";
  background-color: rgb(245 245 245);
  ;
}

.btn-click-shrink {
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

.btn-click-shrink:active {
  transform: scale(0.92);
}

.input-label-selected {

  transition: transform 0.15s;
  transform: translateY(-8px) scale(0.75);
  transform-origin: 0% 0%;
}

.input-label-unselected {

  transition: transform 0.15s;
  transform-origin: 0% 0%;
}

.progress-circle {
  fill: rgb(0, 0, 0, 0.6);
  stroke-width: 32;
  transition: stroke-dasharray 0.2s ease 0s;
}

.textarea-container {
  box-shadow: grey 0px 0px 0px 1px inset;
}

.textarea-container-invalid {
  box-shadow: firebrick 0px 0px 0px 1px inset;
  background-color: rgb(255, 248, 246);
}

.textarea-container-active {
  box-shadow: black 0px 0px 0px 2px inset;
}

.textarea-container-invalid-active {
  box-shadow: firebrick 0px 0px 0px 2px inset;
}

.discount-input-container {
  box-shadow: grey 0px 0px 0px 1px inset;
}

.discount-input-invalid {
  box-shadow: firebrick 0px 0px 0px 1px inset;
  background-color: rgb(255, 248, 246);
}

.discount-input-active {
  box-shadow: black 0px 0px 0px 2px inset;
}

.discount-input-invalid-active {
  box-shadow: firebrick 0px 0px 0px 2px inset;
}

.button-unique {
  transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.twoPXExtraSize::after {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: transparent;
  position: absolute;
  top: -1px;
  left: -1px;
  border-top: inherit;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: inherit;
}

@keyframes dropUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes dropDown {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes blowIn {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes blowOut {
  0% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 0;
  }
}

@keyframes modal-background-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes modal-background-fadeOut {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}